body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightcyan;
  padding-bottom: 50px;
  
}
.input-group-text{
  color:whitesmoke;
  background-color: rgb(98, 173, 223);
  
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  color: lightyellow;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url("https://lh3.googleusercontent.com/IhKPSftxTkF6DM46XQPtWL2HBNBnd34q04pMeJYBQ2FWBZ4lllPQvuEQtvLEyKEURZ2LufCgHRQJHKYFLMhRIukpkK7K_1_7r0Tcz0kfYNrYJACyQW_iJAojS5a-A9xm7Pt26EZ9jsEeSnjCHNO7r8x_0TbuBSekhsqvRpIXyXjzuFiRsmq0q16hHRm2W9QhEuS1a-IFXPvGqSCVBEVi9VK7m5ek6RyX67CLGt3f3UjbEoMyxAICYXaUzrtfp-UJlkazciNeEJfjVsm0UEYdHLRAbrYudAVNUdLnD7_p6-M745iU2oub8PYqrgemroxs7cUUO3_XqOSkJ8w_3HJnPjCQo_BHxugSW-Vk2Rq7ZJVw6RGAq7914HbnwwIZa12FGMxw8RMF1dQrApzGZXyL0T5au6afvTbLpprqPZn-nrwzIVc5dfXKW8KV4PyxF7JPsiZS0Dm5igLAzUX76PVUy9Js4LmfzV893xvQJO1q25A3dKs5I_3jLQirDeBSPAr65kx78Bs7CZgwb_8hlCg_7-NXwmibC0xRLa7iKwjQBMM1QMjEK6DPohAZBKmanJSYiYmBpaqUtZUNhiUyiyEF3LwhZhDYlfPJtumWFJaO9Fx6FPSz08vJyxJs8ouozjORWDcTPVgkOuDqGPH_SzeF4kfiSwDeHl8fhhPN72iOwarONQJKIJQnNWY6lWlQ3A=w2132-h1270-no");
  background-position: 70%;
  background-size: 100% ;
  
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: lightyellow;
  color:purple;
}

.present {
  background-color: #e2908c;
  color: purple;
}

.future {
  background-color: #c889d8;
  color:black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#currentDay{
  color: #ff73e5
}

footer{
  padding-top: 20px;
}